.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-input-name {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--secondary-color);
    margin-bottom: 4px;
}

.modal-input-wrapper {
    margin-bottom: 10px;
}

.modal-input-textarea-wrapper {
    margin-bottom: 20px;
}

.modal-input {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    cursor: pointer;
    color: var(--logo-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    outline: none;
    border-color: var(--accent-color);
}
    &:hover+.modal-form-icon,
    &:focus+.modal-form-icon {
    fill: var(--accent-color);
    
}
}


.modal-icon-input-div {
    position: relative;
    display: block;
}


.modal-form-icon {
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    left:12px;
    top:50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);    

}



.modal-textarea {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    cursor: pointer;
    color: var(--logo-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    outline: none;
    border-color: var(--accent-color);
}
    &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}
}


.checkbox-div {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 12px;
    margin-bottom: 30px;
}

.checkbox-input {
    position: absolute;
    appearance: none;
    &:checked + .modal-checkbox-input {
    background-color: var(--accent-color);
}
    &:checked + .modal-checkbox-input .checkbox-icon {
    display: block;
}
    &:hover + .modal-checkbox-input, 
    &:focus + .modal-checkbox-input {
    box-shadow: 0 0 0 2px var(--accent-color);
    border: transparent;
}
}

.modal-checkbox-input {
    margin-right: 9px;
    width: 16px;
    height: 15px;
    border: 1px solid var(--logo-color);
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),border 250ms cubic-bezier(0.4, 0, 0.2, 1)
}


.checkbox-paragraph {
    line-height: 1.71;
    color: var(--secondary-color);
}


.checkbox-icon {
    display: none;
}

.terms {
    color: var(--accent-color);
}

.form-button {
    padding: 10px 52px;
    font-weight: var(--bold);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--common-white);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background-color: var(--button-hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.25);

}
}