:root {
    --primary-color:#212121;
    --secondary-color:#757575;
    --dark-gray:#2F303A;
    --accent-color:#2196F3;
    --header-border:#ECECEC;
    --card-border-color:#EEEEEE;
    --common-white:#FFFFFF;
    --back-color:#F5F4FA;
    --clear-white:rgba(100%,100%,100%,60%);
    --logo-color:#000000;
    --icon-color:#AFB1B8;
    --footer-link-backgraund:rgba(255, 255, 255, 0.1);
    --footer-input-color:rgba(255, 255, 255, 0.6);
    --button-hover-color:#188CE8;
    --shadow-color:rgba(0, 0, 0, 0.25);
    --overlay-color:rgba(33, 150, 243, 0.9);
    --footer-input-border:rgba(255, 255, 255, 0.3);
    --logo-font:"Raleway",sans-serif;
    --main-font:"Roboto",sans-serif;
    --primary-title-size:44px;
    --secondary-title-size:36px;
    --title-size:26px;
    --text-size:18px;
    --primary-text-size:14px;
    --secondary-text-size:16px;
    --bold:700;
    --extra-bold:900;
    --medium:500;
    --regular:400;
}